.page{
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  } 
}
.title{
  line-height: 58px;
  font-family: 'Verdana-Bold-Italic';
  color: none;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #121212;
  text-align: center;
  display: block;
  @include adaptiv-font(48, 24);
}
.description{
  max-width: 609px;
  width: 100%;
  font-family:'Verdana-Regular';
  text-align: justify;
  line-height: 17px;
  color: black;
  @include adaptiv-font(14, 10);
}
#title{
  font-style: italic;
  font-weight: bold;
  max-width: 609px;
  width: 100%;
  font-family:'Verdana-Regular';
  text-align: center;
  line-height: 17px;
  color: black;
  @include adaptiv-font(14, 10);
}
.comeback{
  font-style: italic;
  max-width: 609px;
  width: 100%;
  font-family:'Verdana-Regular';
  text-align: center;
  line-height: 17px;
  color: black;
  @include adaptiv-font(14, 10);
}
#authors{
  font-family: 'Verdana-Regular';
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  @include adaptiv-font(14, 10);
}
.links{
  color: #121212;
}
#developer{
  font-family: 'Verdana-Regular';
  @include adaptiv-font(14, 10);
  line-height: 17px;
}
#inspired{
  font-family: 'Verdana-Regular';
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  @include adaptiv-font(14, 10);
  color: #121212;
}