.participant{
  &__wrapper{
    max-width: 623px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__spectrogram{
    width: 100%;
    max-width: 100%;
    display: block;
    border: 0;
    border-radius: 17px;
  }
}