.uploader{
  &__wrapper{
      max-width: 750px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  &__preview{
    background: #121212;
    max-width: 750px;
    width: 100%;
    position: relative;
    .alert{
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);;
    }
    .image{
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
.fileUploader{
  &__wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #121212;
    border-radius: 27px;
    height: 54px;
    max-width: 361px;
    width: 100%;
    padding: 0 31px;
    box-sizing: border-box;
    font-family: 'Verdana-Bold';
    font-size: 18px;
    line-height: 22px;
    .upload{
        margin-left: 31px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #121212;
    }
  }
}