@font-face {
  font-family: 'Verdana-Regular';
  font-display: swap;
  src: url("/fonts/Verdana-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Verdana-Italic';
  font-display: swap;
  src: url("/fonts/Verdana-Italic.ttf") format('truetype');
}
@font-face {
  font-family: 'Verdana-Bold';
  font-display: swap;
  src: url("/fonts/Verdana-Bold.ttf") format('truetype');
}
