@font-face {
  font-family: 'Verdana-Regular';
  font-display: swap;
  src: url("https://morozovspace.github.io/faces2voices/fonts/Verdana_Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Verdana-Italic';
  font-display: swap;
  src: url("https://morozovspace.github.io/faces2voices/fonts/Verdana_Italic.ttf") format('truetype');
}
@font-face {
  font-family: 'Verdana-Bold';
  font-display: swap;
  src: url("https://morozovspace.github.io/faces2voices/fonts/Verdana_Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Verdana-Bold-Italic';
  font-display: swap;
  src: url("https://morozovspace.github.io/faces2voices/fonts/Verdana_Bold_Italic.ttf") format('truetype');
}